body {
    overflow-x: hidden;

}

#input {
    width: 400px;
    border-radius: 25px !important;
}

.rounded-pill {
    width: 100px;
}

.logosearch {
    width: 18px;
    height: 18px;
    position: absolute;
    margin-left: 367px;
    margin-top: 10px;
}

.logo_2 {
    border-radius: 5px;
    border: 1px #8E8E93 solid;
    padding: 8px;
}

.cart {
    font-size: 24px;
    margin-right: 24px;
    color: #8E8E93;
}

.bell {
    font-size: 24px;
    margin-right: 24px;
    color: #8E8E93;
}

.envelope {
    font-size: 24px;
    margin-right: 24px;
    color: #8E8E93;
}

/* .profile {
    font-size: 24px;
    margin-right: 24px;
    color: #8E8E93;
} */

img {
    max-width: 100%;
}


.product {
    background: #ffffff;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
    padding-bottom: 5px;
}

p {
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
}

span {
    color: #8E8E93;
}

.delete {
    color: red;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

#product-name{
    color: black;
    font-weight: 500;
    font-size:medium;
}


#product-card-image{
    width: 250px;
    height: 280px;
}

#price-card{
    font-size: large;
    font-weight: 600;
}

#progres-rating{
    width: 120px;
    border: 5px green solid
}

#quanti {
    margin-bottom: 25.5px;
}

/* div {
    border: 1px solid;
} */


@media only screen and (max-width: 600px) {
    .squer {
        display: none;
    }

    #star {
        width: 15px;
        height: 15px;
        margin-bottom: 1.8px;
    }

    #progres-rating{
        border: 4px green solid;
    }

    #quanti {
        margin-bottom: 22.5px;
    }

    .input {
        width: 100%;
    }

    p {
        font-size: 12px;
    }

    hr {
        width: auto;
    }
}