body {
    overflow-x: hidden;

}

#input {
    width: 400px;
    border-radius: 25px !important;
}



.logosearch {
    width: 18px;
    height: 18px;
    position: absolute;
    margin-left: 367px;
    margin-top: 10px;
}

.logo_2 {
    border-radius: 5px;
    border: 1px #8E8E93 solid;
    padding: 8px;
}


.carousel {
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

p {
    color: #9b9b9b;
}


.product {
    background: #ffffff;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
    padding-bottom: 5px;
}

#product-name{
    color: black;
    font-weight: 500;
    font-size:medium;
}


#product-card-image{
    width: 280px;
    height: 280px;
}

#price-card{
    font-size: large;
    font-weight: 600;
}

#checkout {
    height: 100vh;
}

#orders {
    height: 100vh;
}

footer {
    background-color: #DB3022; 
    padding: 85px; 
    padding-bottom: 10px; 
    padding-top: 50px;
}

/* img {
    max-width: 100%;
} */

/* div{
    border: 1px solid;
} */


@media only screen and (max-width: 600px) {
    .category {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .squer {
        display: none;
    }

    #input {
        width: 100%;
    }

    #ff {
        font-size: 9px;
    }
    
    footer {
        padding: 10px;
    }

    #checkout {
        height: 200vh;
    }

    #orders {
        height: 150vh;
    }

    /* .product{
        height: 300px;
    } */

    #product-name{
        font-size: small;
    }

    #product-card-image{
        width: 150px;
        height: 160px;
    }

    .carousel {
        margin-top: 30px;
    }

    .logosearch {
        margin-left: 272px;
    }
}

a:link,
a:visited {
    text-decoration: none !important;
    color: black;
    cursor: pointer !important;
}